body{
    box-sizing: border-box;
    margin:auto;
    background-color:skyblue;
    padding: 5%;
}
h1{
    color:slateblue;
    font-size:20px;
}
h2{
    color:darkblue;
    font-size:16px;
}
p{
    color:dodgerblue;
    font-size:10px;
}
.block{
    float:left;
    background-color: darkorchid;
    padding:5px;
    border:2px solid red;
}
.last{
    float:left;
    background-color: darkviolet;
    margin:50%;
    border:2px solid crimson;
}